* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png); /* Added missing semicolon here */
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff; /* Added missing semicolon here */
  text-decoration: none; /* Added missing semicolon here */
  font-size: 18px; /* Added missing semicolon here */
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
  left: 0;
  bottom: 0;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
  color: #fff;
}
.header-text h1 span {
  color: #761010;
  font-size: revert;
}
/*-----------------------abt----------------------------->*/

#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user {
  width: 50%;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15%;
}
.about-col-2 {
  flex-basis: 65%;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: xx-large;
}
.tab-titles {
  display: flex;
  margin: 20 px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #761010;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
  color: #fff;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #761010;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* ----------------------service-bar--------------------*/
.services {
  padding: 30px 0;
  color: #ababab;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  border-radius: 10px;
  font-weight: 300;
  border-radius: 10 px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.serices-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.serices-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #761010;
  transform: translateY(-10px);
}
/* ----------------portfolio ----------------*/
/* Styles pour le conteneur principal */
#portfolio {
  padding: 50px 0;
}
.container {
  max-width: 1200px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centrer le conteneur horizontalement */
  padding: 20px; /* Espacement interne du conteneur */
}

/* Styles pour la liste de travail */
.work-list {
  display: grid; /* Utiliser la grille CSS */
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Créer des colonnes flexibles */
  grid-gap: 20px; /* Espacement entre les éléments de la grille */
  margin-top: 50px; /* Centrer les éléments horizontalement */
}

/* Styles pour chaque élément de travail */
.work {
  position: relative; /* Position relative pour permettre l'utilisation de position absolue pour le layer */
  overflow: hidden;
  border-radius: 10px; /* Cacher le contenu débordant */
}

/* Styles pour le layer */
.layer {
  position: absolute; /* Position absolue pour superposer le layer sur l'image */
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0 40px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #761010);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Cacher le layer par défaut */
  transition: opacity 0.3s ease;
  font-size: 14px; /* Transition pour l'effet de survol */
}

/* Effet de survol pour le layer */
.work:hover .layer {
  opacity: 1; /* Afficher le layer au survol */
}

/* Styles pour les images */
.work img {
  width: 100%; /* Largeur maximale de l'image */
  height: auto; /* Hauteur automatique pour maintenir les proportions */
  transition: transform 0.3s ease;
  border: radius 10px;
  display: block; /* Transition pour l'effet de survol */
}

/* Effet de survol pour les images */
.work:hover img {
  transform: scale(1.05); /* Agrandir légèrement l'image au survol */
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin: top 20px;
  color: #761010;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60 px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.btn {
  display: inline-block; /* Changed to inline-block for better alignment */
  margin: 41px auto;
  padding: 15px 30px; /* Reduced padding for better appearance */
  border: 2px solid #761010; /* Reduced border width for a cleaner look */
  border-radius: 12px;
  background-color: #761010; /* Added background color */
  color: #fff;
  font-size: 18px; /* Increased font size for better readability */
  font-weight: bold; /* Made the text bold */
  text-decoration: none;
  transition: background-color 0.5s, transform 0.3s; /* Added transform for hover effect */
}
.btn:hover {
  background: #761010;
}
/* --------------contact---------------------*/
/* Alignement des éléments de la section de contact */
.contact-left {
  flex-basis: 35%;
}
.email,
.phone-number {
  float: left; /* Aligne les éléments à gauche */
  margin-right: 10px; /* Ajoute un peu d'espace à droite */
}

.contact-right {
  flex-basis: 60%;
}

/* Ajustement de la marge du paragraphe dans la section de contact */
.contact-left p {
  margin-top: 30px;
}

/* Style pour l'icône dans la section de contact */
.contact-left p i {
  color: #761010;
  font-size: 25px;
}

/* Style pour les icônes sociales */
.social-icons {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.social-icons a {
  text-decoration: none;
  font-size: 24px; /* Ajuste la taille des icônes */
  color: #ababab;
  transition: transform 0.5s;
  margin-right: 10px;
}

/* Style pour les icônes sociales au survol */
.social-icons a:hover {
  color: #761010;
  transform: translateY(-5px);
}

/* Style pour le bouton */
.btn.btn2 {
  display: inline-block;
  margin: 41px auto;
  padding: 15px 30px;
  border: 2px solid #761010;
  border-radius: 12px;
  background-color: #761010;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.5s, transform 0.3s;
}

/* Style pour le formulaire de contact */
.contact-right form {
  width: 100%;
}

/* Style pour les champs de formulaire */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #262626;
  border: 0;
  border-bottom: 2px solid #761010;
  outline: none;
  font-size: 18px;
  border-radius: 6px;
}

/* Style pour le bouton du formulaire */
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
}

/* Style pour le bouton au survol */
.btn:hover {
  background-color: #9a2020;
  transform: scale(1.05);
}

/* Style pour l'icône du cœur */
.fas.fa-heart {
  color: #761010;
}

/* Style pour le pied de page */
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

/* Style pour l'icône du pied de page */
.copyright i {
  color: #761010;
  margin-right: 10px;
}

/*----------------------css pour les petit ecran----------*/
nav .fas {
  display: none;
}
@media only screen and (max-with: 600px) {
  #header {
    background-image: url(../images/phone-background.png);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #761010;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 40px;
  }
  .avout-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contacy-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}
#span {
  color: #61b752;
  margin-top: -10;
  display: block;
}
/* chatbot */

#chat-window {
  width: 500px;
  margin: 0 auto;
  background-color: #761010;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

#chat-messages {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow: auto;
}

#chat-form {
  display: flex;
  align-items: center;
}

#chat-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f7efe5;
  color: #761010;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.user-message {
  font-family: "Nunito", sans-serif;
  background-color: #f7efe5; /* light color */
  text-align: left; /* changed text align to left */
  padding: 15px; /* added padding */
  display: flex;
  align-items: center;
  font-style: italic;
}
.user-message img,
.bot-message img {
  width: 40px; /* adjust the width of the icon */
  height: 40px; /* adjust the height of the icon */
  margin-right: 20px; /* add some margin to separate the icon from the message */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
  #chat-window {
    width: 90%;
  }
}
.main-title {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 0.5rem;
  color: #fffbf5;
  font-style: italic;
}
